<div>
  <nav
    class="navbar navbar-expand-lg"
    style="background-color: rgb(163, 215, 240)"
  >
  <a class="navbar-brand" style="color: rgb(233, 9, 9);" href="#">CEYLAN OTO KİRALAMA</a>
    <div class="container-fluid">
      
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>

      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
          </li>
      
        </ul>
      </div>
<ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="adminCheck">
  <li class="nav-item dropdown">
    <a  class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Yönetici Paneli
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" routerLink="/cars-management">Araç Yönetimi</a></li>
      <li><a class="dropdown-item" routerLink="/brand-management">Marka Yönetimi</a></li>
      <li><a class="dropdown-item" routerLink="/color-management">Renk Yönetimi</a></li>
      
      
    </ul>
  </li>
</ul>
      

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="name" style="text-align: end">
          <div class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="customerDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Windows_10_Default_Profile_Picture.svg/2048px-Windows_10_Default_Profile_Picture.svg.png"
                class="profile-image"
              />
              {{ name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a
                style="cursor: pointer"
                class="dropdown-item"
                (click)="updateProfile()"
                >Profili güncelle</a
              >
              <a
                style="cursor: pointer"
                class="dropdown-item"
                (click)="updatePassword()"
                >Şifre değiştir</a
              >
              <a
        class="nav-link active"
        role="button"
        aria-expanded="false"
        (click)="logOut()"
      >
        <strong>Çıkış Yap</strong>
      </a>

            </div>
          </div>
        </li>
      </ul>
      
      <a *ngIf="!loginCheck"
        class="nav-link active"
        role="button"
        aria-expanded="false"
        routerLink="/login"
      >
        <strong>Giriş Yap</strong>
      </a>
    </div>
  </nav>
</div>
<!-- <button *ngIf="adminCheck" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Yeni Araç Ekle</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <app-car-add></app-car-add>
      </div>
     
    </div>
  </div>
</div> -->



