<div>
  <button style="margin: 10px;" *ngIf="adminCheck" type="button" class="btn btn-primary float-end"
    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Yeni Marka Ekle
  </button>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Hızlı Marka Ekleme</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-brand-add></app-brand-add>
      </div>
    </div>
  </div>
</div>

<table *ngIf="brandLoaded != false" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marka</th>
      <th class="saga-yasla" scope="col">Eylemler</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of brands | brandFilter : filterText">
      <td>{{item.brandId}}</td>
      <td>{{ item.brandName }}</td>

      <td class="saga-yasla">
        <a>
          <button type="button" (click)="updateDialogVisibleControl(item.brandId)"
            class="btn btn-info">Güncelle</button>
          <button type="button" style="margin-left: 10px;" (click)="deleteDialogVisibleControl(item.brandId)"
            class="btn btn-danger">Sil</button>
        </a>
      </td>
    </tr>
  </tbody>
</table>



<div class="modal fade show d-block" *ngIf="deleteDialogVisible" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-modal="true" role="dialog" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bilgilendirme</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="deleteDialogVisibleControl()"></button>
      </div>
      <div class="modal-body">
        Bu markayı silmek istediğine emin misin?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteDialogVisibleControl()">Kapat</button>
        <button type="button" (click)="delete()" class="btn btn-primary">Kaydet</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade show d-block" *ngIf="updateDialogVisible" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-modal="true" role="dialog" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered custom-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="updateDialogVisibleControl()"></button>
      </div>
      <div class="modal-body">
        <app-brand-update [brandId]="selectedBrandId"></app-brand-update>
      </div>
    </div>
  </div>
</div>
