
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden"></span>
</div>


<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi">

  <div class="row">
    <div class="col-md-4">
      <label>Marka seçiniz</label>
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="brandFilter"
      >
        <option *ngFor="let brand of brands" [value]="brand.brandId">
          {{ brand.brandName }}
        </option>
      </select>
    </div>

    <div class="col-md-4">
      <label>Renk seçiniz</label>
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="colorFilter"
      >
        <option *ngFor="let color of colors" [value]="color.colorId">
          {{ color.colorName }}
        </option>
      </select>
    </div>
    

    <div class="col-md-4" style="display: flex; margin-top: 20px;">
      <button type="button" class="btn btn-info" (click)="getCarByBrandAndColor(brandFilter, colorFilter)">Filtrele</button>
      <button type="button" class="btn btn-danger" style="margin-left: 10px;" (click)="clearFilter()">Filtreyi Temizle</button>

      

      
    </div>
  </div>

</div>
<div *ngIf="filterText" class="alert alert-warning">
{{filterText}} aradınız


</div>

<table *ngIf="dataLoaded!=false" class="table">
  <thead>
    <tr>
     
      <td>Araba Adı</td>
      <td>Günlük Ücret</td>
      <td>Model Yılı</td>
      <td>Renk</td>
      <td>Marka</td>
      <td>Detay</td>
    </tr>
  </thead>
    <tr *ngFor="let item of cars | carFilter:filterText">
     
      <td>{{ item.carName }}</td>
      <td>{{ item.dailyPrice }}</td>
      <td>{{ item.modelYear }}</td>
      <td>{{ item.colorName }}</td>
      <td>{{ item.brandName }}</td>

      
      <td><button type="button" class="btn btn-info" routerLink="/getcardetail/{{item.carId}}">Detaylı İncele</button></td>
    
      
    </tr>
    
 
</table>




